::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.005);
  z-index: 25;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(to top, #885405, #c77c0c, #fd9b2b);
  z-index: 50;
  border-radius: 0px 0px 20px 20px;
  
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}