*{
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111111;
  }
    .test{
      flex: none;
      text-align: center;


    }
    h1{
      color: #fff;
    }
  .swiper-container {

    width: 100%;
    display: flex;

    padding-top: 50px;
    padding-bottom: 200px;
  }
  img{
    position: absolute;
    width: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    background: #000;

    background-image: url('tycon.jpg');

     -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006); 
  }
