* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(215, 219, 205),rgb(205, 212, 196),rgb(203, 207, 192),rgb(190, 193, 174));
}

#banner img{
    width: 100%;
    height: auto;
    z-index:2;
}

#snow-fall {
    position:absolute;
    width:100%;
    height:auto;
    top:0; 
}