* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
    }

    #banner img{
        width: 100%;
        height: auto;
        z-index:2;
    }

    #snow-fall {
        position:absolute;
        width:100%;
        height:auto;
        top:0; 
    }