body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "tahoma", Times, sans-serif;
  background: linear-gradient(to right, rgb(213, 217, 203), rgb(192, 194, 180));
}

::-webkit-scrollbar {
  width: 0;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  background: rgba(255, 255, 255, 0.005);
  z-index: 25;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: linear-gradient(to top, #552a01, #a06000, #e08b28);
  z-index: 25;
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

.nav-bar {
  /* border:3px solid red; */
  background: linear-gradient(
    to right,
    rgb(225, 226, 210),
    rgb(224, 223, 203),
    rgb(219, 216, 199),
    rgb(214, 211, 192)
  );
  height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 20;
}
.nav-bar > .logo {
  margin: 23px;
  position: relative;
  top: -19px;
  left: 5rem;
}
.nav-bar > .logo > h1 > a {
  color: rgb(121, 71, 6);
  text-decoration: none;
}
.menu-items {
  /* border:3px solid red; */
  list-style: none;
  display: inline-block;
  margin-top: 2px;
  margin-left: 3rem;
  position: relative;
  top: -72px;
  left: 46rem;
  height: 25px;
  text-transform: uppercase;
  font-size: 1rem;
  cursor: pointer;
}
.menu-items > a {
  text-decoration: none;
  color: rgb(121, 71, 6);
}
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(121, 71, 6);
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#banner-text {
  color: linear-gradient(to right, rgb(255, 153, 0), rgb(255, 210, 11), yellow);

  position: absolute;
  top: 127px;
  left: 117px;
  font-size: 3rem;
  font: 500 31px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 113px;
  font-weight: bold;
  letter-spacing: 17px;
  background: -webkit-linear-gradient(283deg, rgb(255, 232, 128), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}
#banner-text-fire {
  position: absolute;
  top: 198px;
  left: 117px;
  font-size: 3rem;
  font: 500 70px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 54px;
  font-weight: bold;
  letter-spacing: 16px;

  background: -webkit-linear-gradient(283deg, rgb(255, 230, 88), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#banner {
  /* border:5px solid red; */
  width: 100vw;
  height: 116vh;
  background: url(../img/monkey.jpg);
  background-repeat: no-repeat;
  /* background-size: 1545px 922px; */
  background-size: 100vw 110vh;
  /* z-index: 3; */
}

#fire-flame {
  /* border: 3px solid red; */
  z-index: 10;
  position: absolute;
  height: 283px;
  width: 60vw;
  top: 85px;
  left: 414px;
  transform: rotate(-7deg);
}

.content {
  margin: 20px;
  padding: 50px;
  text-align: justify;
}
