* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(175, 186, 190),rgb(166, 177, 181),rgb(156, 169, 175),rgb(147,160,166));
}

#banner img{
    width: 100%;
    height: auto;
    z-index:2;
}

#snow-fall {
    position:absolute;
    width:100%;
    height:auto;
    top:100px; 
}