* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,rgb(215, 219, 205),rgb(205, 212, 196),rgb(203, 207, 192),rgb(190, 193, 174));
}

#banner img{
    width: 100%;
    height: auto;
    z-index:2;
}

#fire-flames {
    /* border: 3px solid red; */
    z-index: 10;
    position: absolute;
    transform: rotate(-7deg);
}

@media screen and (min-width:1800px) and (max-width:2000px) {
#fire-flames{
    height: 38%;
    width: 63%;
    top: 25%;
    left: 22%;
    }
}

@media screen and (min-width:1600px) and (max-width:1799px) {
#fire-flames{
    height: 38%;
    width: 63%;
    top: 20%;
    left: 22%;
    }
}
@media screen and (min-width:1400px) and (max-width:1599px) {
#fire-flames{
    height: 32%;
    width: 63%;
    top: 20%;
    left: 22%;
    }
}
@media screen and (min-width:1200px) and (max-width:1399px) {
#fire-flames{
    height: 28%;
    width: 63%;
    top: 19%;
    left: 22%;
    }
}
@media screen and (min-width:1026px) and (max-width:1199px) {
#fire-flames{
    height: 28%;
    width: 63%;
    top: 24%;
    left: 22%;
    }
}
@media screen and (min-width:1000px) and (max-width:1025px) {
#fire-flames{
    height: 16%;
    width: 63%;
    top: 14%;
    left: 22%;
    }
}
@media screen and (min-width:800px) and (max-width:999px) {
#fire-flames{
    height: 28%;
    width: 63%;
    top: 18%;
    left: 22%;
    }
}
@media screen and (min-width:761px) and (max-width:799px) {
#fire-flames{
    height: 13%;
    width: 59%;
    top: 17%;
    left: 22%;
    }
}
@media screen and (min-width:600px) and (max-width:760px) {
#fire-flames{
    height: 24%;
    width: 59%;
    top: 18%;
    left: 22%;
    }
}
@media screen and (min-width:400px) and (max-width:599px) {
#fire-flames{
    height: 12%;
    width: 59%;
    top: 13%;
    left: 22%;
    }
}
@media screen and (min-width:350px) and (max-width:399px) {
#fire-flames{
    height: 9%;
    width: 59%;
    top: 13%;
    left: 25%;
    }
}
@media screen and (min-width:200px) and (max-width:349px) {
#fire-flames{
    height: 12%;
    width: 59%;
    top: 15%;
    left: 25%;
    }
}
  
@media screen and (min-width:768px) {
    .side-bar{
        overflow-x: hidden;
        padding: 8px 0;
        float:left;
        width:18%;
        margin-top: 70px;
        /* margin-bottom: 20px; */
        padding-left: 1%;
    }
    
    .side-bar a {
        padding: 6px 8px 6px 42px;
        text-decoration: none;
        font-size: 15px;
        color: #2196F3;
        display: block;
        font-family :Lato, sans-serif;
        font-size: 1.2em;
    }
    
    .side-bar a:hover {
        color: rgb(121, 71, 6);
        text-decoration: underline;
    }
    
    .v-ruler{
        border-left: 2px solid rgb(121, 71, 6);
        height: 500px;
        float:left;
        margin-left: 1%;
        margin-top: 40px;
    }
    
    .content {
        /* margin: 20px; */
        /* padding: 50px; */
        text-align: justify;
        color:rgb(31, 29, 29);
        font-family :Lato, sans-serif;
        line-height: 180%;
        /* background-color: red; */
        /* margin-left: 80px;  */
        margin-right: 0px;
        margin-top: 50px;
        padding: 0px 30px;
        float:right;
        width:80%;
        padding-bottom: 4%;
    }
    
    .content h1{
        font-size: 4em;
        color:rgb(121, 71, 6);
        /* font-family: "Lato"; */
    }
}

@media screen and (max-width:767px) {
    .side-bar{
        display:none;
    }
    
    .side-bar a {
        display: none;
    }
    
    .side-bar a:hover {
        color: rgb(121, 71, 6);
        text-decoration: underline;
    }
    
    .content {
        /* margin: 20px; */
        /* padding: 50px; */
        text-align: justify;
        color:rgb(31, 29, 29);
        font-family :Lato, sans-serif;
        line-height: 180%;
        /* background-color: red; */
        /* margin-left: 80px;  */
        margin-right: 0px;
        margin-top: 50px;
        padding: 0px 30px;
        padding-bottom: 4%;
    }
    
    .content h1{
        font-size: 2.5em;
        color:rgb(121, 71, 6);
        /* font-family: "Lato"; */
    }
}

ul{
    list-style-position: outside;
}

.ruler{
    height:1px;
    border:none;
    background:  rgb(90, 90, 90);
}

.vdo-header h2{
    font-family :Lato, sans-serif;
    font-weight: 800;
    color:rgb(121, 71, 6);
    font-size: 1.9em;
    margin-left:20px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .vdo-header h2{
        font-size: 1.5em;
        margin-left:123px;
    }
}
@media screen and (min-width: 900px) {
    .vdo-header h2{
        font-size: 1.7em;
        margin-left:146px;
    }
}
@media screen and (min-width: 1024px) {
    .vdo-header h2{
        font-size: 1.9em;
        margin-left:170px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1220px) {
    .vdo-header h2{
        font-size: 2.7em;
        margin-left:207px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1550px) {
    .vdo-header h2{
        font-size: 2.7em;
        margin-left:240px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 1712px) {
    .vdo-header h2{
        font-size: 2.7em;
        margin-left:315px;
    }
}

.ytbvdo iframe{
    /* border-color: aqua;
    background-color: aqua; */
    /* height:163px; */
    /* width:290px; */
    height:auto;
    width:28vw;
    margin:0;
    /* float:right; */
}

.ytbvdo li {
    list-style-type: none;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  .ytbvdo {
      background: whitesmoke;
      margin: 0 0 40px;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    }

    
    @media screen and (min-width: 300px) {
        
        .ytbvdo iframe{
            height:215px;
            width:92vw;
            margin:5px;
            padding-right: 14px;
        }
        
        .ytbvdo li {
            width: 51%;
        }
        
        .ytbvdo li:nth-of-type(2n+1) {
            clear: left;
        }
    }

    @media screen and (min-width: 444px) {
        
        .ytbvdo iframe{
            height:286px;
            width:92vw;
            margin:5px;
            padding-right: 4px;
        }
        
        .ytbvdo li {
            width: 51%;
        }
        
        .ytbvdo li:nth-of-type(2n+1) {
            clear: left;
        }
    }
    
    @media screen and (min-width: 570px) {

        .ytbvdo iframe{
            height:360px;
            width:93vw;
            margin:5px;
        }
        
        .ytbvdo li {
            width: 51%;
        }
        
        .ytbvdo li:nth-of-type(2n+1) {
            clear: left;
        }
    }
  
  @media screen and (min-width: 768px) {

        .ytbvdo iframe{
            height:225px;
            width:45vw;
            margin:27px;
        }
        
        .ytbvdo li {
        width: 47%;
        }
        
        .ytbvdo li:nth-of-type(2n+1) {
        clear: none;
        }
        
        .ytbvdo li:nth-of-type(3n+1) {
        /* clear: left; */
        }
   }
  
  @media screen and (min-width: 1024px) {
    
    .ytbvdo iframe{
        height:264px;
        width:31vw;
        margin:5px;
    }

    .ytbvdo li {
      width: 33%;  
    }    
    
    .ytbvdo li:nth-of-type(3n+1) {
      clear: none;
    }
    
    .ytbvdo li:nth-of-type(4n+1) {
        /* clear: left; */
    }
  }
  
  @media screen and (min-width: 1712px) {
    
    .ytbvdo iframe{
        height:325px;
        width:28vw;
        margin:45px;
    }

    .ytbvdo li {
      width: 33%;  
    }    
    
    .ytbvdo li:nth-of-type(3n+1) {
      clear: none;
    }
    
    .ytbvdo li:nth-of-type(4n+1) {
        /* clear: left; */
    }
  }

